.wave-bg{
    position:fixed;
    inset:0;
    overflow:hidden;
    z-index:-2;

    background:linear-gradient(
        180deg,
        #fafdff,
        #eef6ff
    );
}

.waves{

    position:absolute;

    width:120%;
    height:120%;

    left:-10%;
    bottom:-5%;

}

.wave{

    animation:waveFloat 12s ease-in-out infinite;

}

.layer1{

    fill:#d8e9ff;
    animation-duration:16s;

}

.layer2{

    fill:#bdd8ff;
    animation-duration:20s;
    animation-delay:-5s;

}

.layer3{

    fill:#9fc6ff;
    animation-duration:24s;
    animation-delay:-10s;

}

.glow{

    position:absolute;

    width:500px;
    height:500px;

    border-radius:50%;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    background:radial-gradient(
        circle,
        rgba(37,99,235,.18),
        transparent 70%
    );

    filter:blur(70px);

}

@keyframes waveFloat{

    0%{
        transform:translateX(0px);
    }

    25%{
        transform:translateX(-25px);
    }

    50%{
        transform:translateX(20px);
    }

    75%{
        transform:translateX(-15px);
    }

    100%{
        transform:translateX(0px);
    }

}

.wave-bg::before{
    content:"";

    position:absolute;
    inset:0;

    background:
        linear-gradient(
            120deg,
            transparent 0%,
            rgba(255,255,255,.18) 45%,
            transparent 90%
        );

    background-size:200% 100%;

    animation:shine 15s linear infinite;

    pointer-events:none;
}

@keyframes shine{

    from{
        background-position:-100% 0;
    }

    to{
        background-position:200% 0;
    }

}